@font-face {
  font-family: Shabnam;
  src: url(/fonts/vendor/shabnam-dist/Shabnam.eot?9d9d3c78cb247b4642d0a752bba22ef3);
  src: url(/fonts/vendor/shabnam-dist/Shabnam.eot?9d9d3c78cb247b4642d0a752bba22ef3?#iefix) format('embedded-opentype'),
       url(/fonts/vendor/shabnam-dist/Shabnam.woff2?5796093493683fd0d547e6c0299c8f6f) format('woff2'),
       url(/fonts/vendor/shabnam-dist/Shabnam.woff?5263802bec8461aec734592f33848617) format('woff'),
       url(/fonts/vendor/shabnam-dist/Shabnam.ttf?1474f4f6edd31726356586c71c51d0de) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Shabnam;
  src: url(/fonts/vendor/shabnam-dist/Shabnam-Bold.eot?c8b0543322acd6802319ea8c0e495c22);
  src: url(/fonts/vendor/shabnam-dist/Shabnam-Bold.eot?c8b0543322acd6802319ea8c0e495c22?#iefix) format('embedded-opentype'),
       url(/fonts/vendor/shabnam-dist/Shabnam-Bold.woff2?1cf3a1318b0170d341e91695fe36408a) format('woff2'),
       url(/fonts/vendor/shabnam-dist/Shabnam-Bold.woff?611e8cd44eba32b2bf7c0fb900ed4c37) format('woff'),
       url(/fonts/vendor/shabnam-dist/Shabnam-Bold.ttf?1cfd106de44b23246245a583c393c55c) format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Shabnam;
  src: url(/fonts/vendor/shabnam-dist/Shabnam-Thin.eot?361ec45dec45be734035f9254694f183);
  src: url(/fonts/vendor/shabnam-dist/Shabnam-Thin.eot?361ec45dec45be734035f9254694f183?#iefix) format('embedded-opentype'),
       url(/fonts/vendor/shabnam-dist/Shabnam-Thin.woff2?5489947441f98deac51b0a5ec0009bb9) format('woff2'),
       url(/fonts/vendor/shabnam-dist/Shabnam-Thin.woff?84365f9871eb26acc3d9572ab98bbc6e) format('woff'),
       url(/fonts/vendor/shabnam-dist/Shabnam-Thin.ttf?bcfcd96c4a50e6f2e46ff835835e6f17) format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: Shabnam;
  src: url(/fonts/vendor/shabnam-dist/Shabnam-Light.eot?3250dba4c397141eb73bbaa28ddee651);
  src: url(/fonts/vendor/shabnam-dist/Shabnam-Light.eot?3250dba4c397141eb73bbaa28ddee651?#iefix) format('embedded-opentype'),
       url(/fonts/vendor/shabnam-dist/Shabnam-Light.woff2?acc9a0c4b9b4b4cc899cb51288f2f8d8) format('woff2'),
       url(/fonts/vendor/shabnam-dist/Shabnam-Light.woff?66fa9054f238c896bb197ca2368f65d5) format('woff'),
       url(/fonts/vendor/shabnam-dist/Shabnam-Light.ttf?5df6c3e11bea688b6ea28c2312349db0) format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: Shabnam;
  src: url(/fonts/vendor/shabnam-dist/Shabnam-Medium.eot?599dec88b648c1ed7cc2cc13d3a16057);
  src: url(/fonts/vendor/shabnam-dist/Shabnam-Medium.eot?599dec88b648c1ed7cc2cc13d3a16057?#iefix) format('embedded-opentype'),
       url(/fonts/vendor/shabnam-dist/Shabnam-Medium.woff2?a07783d353187006dfec0937c1c2e1fc) format('woff2'),
       url(/fonts/vendor/shabnam-dist/Shabnam-Medium.woff?2bb0a517b56ff5f314e4f8d726a834c3) format('woff'),
       url(/fonts/vendor/shabnam-dist/Shabnam-Medium.ttf?d7f9cdabd45e33156c96633d829b8174) format('truetype');
  font-weight: 500;
}
/* 
====================
    Devices
====================
*/

/* 
$main_heading_title: 6rem;
$numbers: 4rem;
$paragraph: 1.5rem;
$paragraph_spacing: 2.8rem;
$buttonsAndNumberSmallDetailText: 1.5rem;
$navbarFontSize: 1.3333333333333333rem;
 */

/* 

    Object Colors

*/

.text-purple {
  color: #6323c6 !important;
}

body {
  font-family: "Shabnam", sans-serif;
}

